/* 1. Add a style sheet */
a {
    color: black;
}a

a:hover {
    font-weightaa: bold;//aas
}aaaaa
aaaa
/* 2. Flexbox the links */
ul {a
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* remove padding */
    margin: 0; /* Remove margin araaound */
    display: flex;
    justify-content: center; /* center the links*/
}
dd
li {
    margin: 8px; /* s

    pace between list elements*/
    color: blue;
}

/* 3. Some header styling*/
h1 {
    display: inline;
    font-family: "Audiowide", sans-serif; /* 6 */

}

header img {
    width: 30px;
    height: 30px;
}

header {
    text-align: center;
}

/* 4 The Grid */

.container {
    display: grid; /* grid layout */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 sections */
    grid-template-areas:
"c1 c1 c1 c1"
"c2 c2 c2 c2"
"c3 c3 c3 c3"
"c5 c5 c4 c4";
    width: 100%;
}

#i1 {
    grid-area: c1;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(0, 224, 255, 1) 51%);
}

#i2 {
    grid-area: c2;
    padding: 5px;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(0, 224, 255, 1) 51%);
}

#i3 {
    grid-area: c3;
    padding: 5px;
}

#i4 {
    grid-area: c4;
    /*5*/
    position: sticky;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(0, 224, 255, 1) 51%);
    padding-right: 20px;
    text-align: right;
}

#i5 {
    grid-area: c5;
    /*5*/
    position: sticky;
    bottom: 0;
    padding: 5px;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 83, 246, 1) 0%, rgba(0, 224, 255, 1) 51%, rgba(0, 212, 255, 1) 100%);
}

/*5. Make footer and aside always visible*/
html, body {
    height: 100%;
    margin: 0;
    overflow: auto; /* scroll through the page*/
}

/* 7. Optional. Apply media queries to provide a desktop layout*/
@media screen and (min-width: 1280px) {
    * {
        font-family: Arial, serif;
        font-size: 20px;
        color: #004c92;
    }

    h1 {
        display: inline;
        font-family: "Audiowide", sans-serif;
        font-size: 50px;
    }

    header img {
        width: 60px;
        height: 60px;
    }

    ul {
        display: inline;
    }
    li {
        padding: 10px;
    }


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
"c1 c1 c1 c1"
"c2 c3 c3 c4"
"c2 c3 c3 c4"
"c5 c5 c5 c5";
        width: 100%;
    }
    #i4 {
        text-align: center;
        display: inline-block;
        height: 100%;
        vertical-align: middle;

    }
}

/* Part 1*/