/* 1. Add a style sheet */
a {
    color: black;
}

a:hover {
    font-weight: bold;
}

/* 2. Flexbox the links */
ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 3em; /* Remove padding */
    margin: 0; /* Remove margins */
    display: flex;
}

li {
    margin: 2px; /* space between list elements*/
}

/* 3. Some header styling*/
h1 {
    display: inline;

}

header img {
    width: 30px;
    height: 30px;
}

header {
    text-align: center;
}