/* 1. Add a style sheet */
a {
    color: black;
}

a:hover {
    font-weight: bold;
}

/* 2. Flexbox the links */
ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 3em; /* Remove padding */
    margin: 0; /* Remove margins */
    display: flex;
}

li {
    margin: 2px; /* space between list elements*/
}

/* 3. Some header styling*/
h1 {
    display: inline;

}

header img {
    width: 30px;
    height: 30px;
}

header {
    text-align: center;
}

/* Grid layout */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
"c1 c1 c1 c1"
"c2 c2 c2 c2"
"c3 c3 c3 c3"
"c5 c5 c4 c4";
    width: 100%;
}

#i1 {
    grid-area: c1;
    overflow: auto;
}

#i2 {
    grid-area: c2;
    overflow: auto;
}

#i3 {
    grid-area: c3;
}

#i4 {
    grid-area: c4;
    /*5*/
    position: sticky;
    bottom: 0;
    background-color: white;
}

#i5 {
    grid-area: c5;
    /*5*/
    position: sticky;
    bottom: 0;
    background-color: white;
}

/*5. Make footer and aside always visible*/
html, body {
    height: 100%;
    margin: 0;
    overflow: auto; /* scroll through the page*/
}


